body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-opening {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  text-align: center;
  line-height: 100vh;
  z-index: 2;
}

.container-opening h1 {
  background-color: var(--primary);
  color: var(--card-bg);
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  color: var(--primary);
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.scene-opening {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.character {
  flex: 1 1 0;
}

#character-nisa {
  transform: translateX(-300px);
  transition: transform 1.4s ease;
}

#character-nisa.slide-nisa {
  transform: translateX(-250px) translateX(250px);
}

#character-guru {
  transform: translateX(270px);
  transition: transform 1.4s ease;
}

#character-guru.slide-guru {
  transform: translateX(-300px) translateX(270px);
}

.character img {
  width: 100%;
  height: 100%;
}

.container-teks-opening {
  flex: 1 1 100px;
  text-align: center;
}

.teks-opening {
  background-color: var(--background);
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(430px);
  transition: transform 1.4s ease;
  text-align: left;
}

.teks-opening.slide-guru {
  transform: translateY(-430px) translateY(430px);
}

button {
  margin-top: 2rem;
  padding: 12px;
  background-color: var(--primary);
  color: var(--background);
  width: 180px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
  box-sizing: border-box;
  display: none;
  transition: display 0.3s ease-in;
}

button:hover {
  scale: 1.05;
}
